<div style="margin-top:150px" class="container text-center">
  {{#if success_msg}}
    <div class="alert alert-success">
    {{success_msg}}
    </div>
  {{/if}}


{{#if error_msg}}
  <div class="alert alert-danger">
    {{error_msg}}
  </div>
{{/if}}
</div>
