<div class="super_container">
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo">
							<a href="/"><img src="/images/egaming-logo1.jpg" alt="" class="image-responsive"></a>
						</div>
						<nav class="main_nav">
							<ul>
								<li><a href="seminar/1">Seminar</a></li>
								<li><a href="properties.html">Competition</a></li>
								<li><a href="news.html">Coaching</a></li>
								<li><a href="contact.html">Sponsor</a></li>
								<li><a href="contact.html">Article</a></li>
							</ul>
						</nav>
						<div class="phone_num ml-auto">
							<div class="phone_num_inner">
								<img src="/images/phone.png" alt=""><span>652-345 3222 11</span>
							</div>
						</div>
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>
	</header>
  <!-- Menu -->

  	<div class="menu trans_500">
  		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
  			<div class="menu_close_container"><div class="menu_close"></div></div>
  			<div class="logo menu_logo">
  				<!-- <a href="#">
  					<div class="logo_container d-flex flex-row align-items-start justify-content-start">
  						<div class="logo_image"><div><img src="/images/logo.png" alt=""></div></div>
  					</div>
  				</a> -->
  			</div>
  			<ul>
  				<li class="menu_item"><a href="/">Home</a></li>
  				<li class="menu_item"><a href="/seminar/1">Seminars</a></li>
					<li class="menu_item"><a href="/cms/seminar/add">CMS</a></li>
  				<li class="menu_item"><a href="#">Competition</a></li>
  				<li class="menu_item"><a href="#">Sponsor</a></li>
  				<li class="menu_item"><a href="#">Article</a></li>
  				<li class="menu_item"><a href="#">Coaching</a></li>
  			</ul>
  		</div>
  		<div class="menu_phone"><span>call us: </span>652 345 3222 11</div>
  	</div>
