<!-- Footer -->

<footer class="footer">
  <div class="footer_main" style="padding-top:10px;padding-bottom:20px">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/" style="color:white">Home</a></div>
        </div>
        <div class="col-lg-3 d-flex flex-column align-items-start justify-content-end">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/about" style="color:white">About Us</a></div>
        </div>
        <div class="col-lg-3 d-flex flex-column align-items-start justify-content-end">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/contact" style="color:white">Contact</a></div>
        </div>
      </div>

    </div>
  </div>

</footer>
</div>
