<!-- Footer -->
<div class="newsletter">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/footer_main.jpg" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
          <div class="newsletter_title_container">
            <div class="newsletter_title" style="font-size:25px;">Know about the latest <br><br>  seminars and articles <br><br> of your favourite e-gamer</div>
            <!-- <div class="newsletter_subtitle">We'll notify you of new seminars and competitions</div> -->
          </div>
          <div class="newsletter_form_container">
            <form action="#" class="newsletter_form">
              <input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">
              <button class="newsletter_button">subscribe now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer_main" style="padding-top:10px;padding-bottom:20px">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/" style="color:white">Home</a></div>
        </div>
        <div class="col-lg-3 d-flex flex-column align-items-start justify-content-end">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/about" style="color:white">About Us</a></div>
        </div>
        <div class="col-lg-3 d-flex flex-column align-items-start justify-content-end">
          <div style="color:white;font-size:40px;font-weight:bold;"><a href="/contact" style="color:white">Contact</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
