<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
  <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
  <link rel="stylesheet" type="text/css" href="/styles/properties.css">
  <link rel="stylesheet" type="text/css" href="/styles/properties_responsive.css">
  <link rel="stylesheet" type="text/css" href="/styles/news.css">
  <link rel="stylesheet" type="text/css" href="/styles/news_responsive.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>

  {{> _navigation}}
    {{> _msg }}
    {{{body}}}
  {{> footer}}
</body>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/textOnScreen.js" charset="utf-8"></script>
</html>
