<!-- Contact -->

<div class="contact" style="margin-top:0px;padding-top:0px; ">
  <div class="container">
    <div class="row">

      <!-- Contact Info -->
      <div class="col-lg-4">
        <div class="contact_info">
          <div class="section_title">Get in touch with us</div>
          <div class="section_subtitle">Say hello</div>
          <div class="contact_info_text"><p>Egaming.... <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse laborum. </p></div>
          <div class="contact_info_content">
            <ul class="contact_info_list">
              <li>
                <div>Address:</div>
                <div>Please give an address to Add</div>
              </li>
              <li>
                <div>Phone:</div>
                <div>Should i remove this Phone Section ?</div>
              </li>
              <li>
                <div>Email:</div>
                <div>pankaj@tourdeguide.com</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="col-lg-8">
        <div class="contact_form_container">
          <form action="#" class="contact_form" id="contact_form">
            <div class="row">
              <!-- Name -->
              <div class="col-lg-6 contact_name_col">
                <input type="text" class="contact_input" placeholder="Name" required="required">
              </div>
              <!-- Email -->
              <div class="col-lg-6">
                <input type="email" class="contact_input" placeholder="E-mail" required="required">
              </div>
            </div>
            <div><input type="text" class="contact_input" placeholder="Subject"></div>
            <div><textarea class="contact_textarea contact_input" placeholder="Message" required="required"></textarea></div>
            <button class="contact_button button">send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map -->
<div class="row">
  <div class="col">
      <div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d723.5715980581712!2d72.86361317711528!3d19.11990365076826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c825662c7fc5%3A0xad3d66ac3ede302c!2sPinnacle+Business+Park!5e0!3m2!1sen!2sin!4v1558755639081!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div>
  </div>
</div>
