

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Signup here</h3>
      <form class="" action="/signup/123456789pankaj?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" value="{{email}}" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" value="{{password1}}" name="password1" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">ReEnter Password</label>
          <input type="password" value="{{password2}}" name="password2" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
